* {
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(255, 196, 47, 0.387);
    color: #fff;
    padding: 1%;
    box-sizing: border-box;
}

.container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-links {
    list-style: none; /* Remove default list styles */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background: -webkit-linear-gradient(rgb(77, 12, 241), rgb(212, 4, 150));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.nav-icon {
    width: 2.5%;
}

/* Add custom CSS for centering text boxes */
.centered-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0%; /* Adjust as needed */
    height: 100vh; /* Use viewport height */
    background-image: linear-gradient(rgb(255, 166, 166), rgb(166, 166, 255));
}


.centered-input input {
    width: 60%;
    height: 25px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #45a049;
}

.centered-input textarea {
    width: 60%;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.centered-input button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.centered-input button:hover {
    background-color: #45a049;
}
