<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MrQuack's Site</title>
<link rel="stylesheet" href="/styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anta&family=Micro+5&family=Pixelify+Sans:wght@400..700&family=Protest+Riot&family=Rubik+Pixels&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <img src="/images/icon-Kittl.svg" class="nav-icon">
            <ul class="nav-links">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="title-div">
        <h1 class="name-title">HighDuck<br>Studios</h1>
        <p>Making Games, 3D Models, Renders, and More!        </p>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="/images/pewpewcard.png" alt="Card Image 1">
            <div class="card-content">
                <h2>PewPew Game</h2>
                <p>A work in progress coop game currently being developed. Procedural factory to run through to fight robots and collect better loot to fight the bosses.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="/images/testcard.png" alt="Card Image 1">
            <div class="card-content">
                <h2>Card Title 2</h2>
                <p>Description of the first card.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="/images/testcard.png" alt="Card Image 1">
            <div class="card-content">
                <h2>Card Title 3</h2>
                <p>Description of the first card.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="/images/testcard.png" alt="Card Image 1">
            <div class="card-content">
                <h2>Card Title 4</h2>
                <p>Description of the first card.</p>
                <a href="#" class="read-more-btn">Read More</a>
            </div>
        </div>
        <!-- Add more cards similarly -->
    </div>
</body>
</html>
